* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Shared Styles */
.logo h2{
    font-size: 45px;
    font-weight: 800;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin: 30px 0;
}

/* Main Style */
/* Header= nav+menu section */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/developer.png') , url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left, bottom right;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;
}
/* About Section */
#about{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 131px 156px;
    background-color: #FFF8F3;
    text-align: center;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #474747;
}
/* Skills Section */
#skill{
    padding-top: 130px;
}
#skill .skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skill .skill-container .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    max-width: 267px;
    margin-top: 50px;
    padding: 30px;
    box-shadow: 0 6px 50px 0 #0000000f;
    border-radius: 5px;
}
.skill-card img{
    max-width: 44px;
    margin-top: 30px;
}
.skill-card h3{
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}